#div{
    width:6em;
    height: 1em;
    text-align: center;
    margin-left:50%;
    position: relative;
    left:-3em;
    padding: 0.5em;
    background-color:silver;
    border-radius: 0.5em;
    box-shadow: 10px 15px 40px #808080;
    transition: background-color 1s, height 1s, color 1s, width 1s, left 1s, border-radius 1s ;
    
}
#div:hover{
    background-color: yellow;
    color:transparent;
    width: 5em;
    height:5em;
    left:-2.5em;
    
    border-radius: 3em;
}
article{
    transition: height 1s;
}