@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,700);
body {
	background-color: #f0f0f0;
	font-family: "Ubuntu", sans-serif;
}

header {
	
}

.code {
	font-family: "Ubuntu Mono", monospace;
	background-color: #404040;
	color: #3cf;
}
