@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,700);
body {
	background-color: #f0f0f0;
	font-family: "Ubuntu", sans-serif;
    padding: 0px;
    margin: 0px;
}

#content {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.article {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 5px 10px #6f6f6f;
    margin-bottom: 50px;
}
.heading2 {
    border-bottom: 1px solid black;
}

.article p {
    margin-left: 25px;
    margin-right: 75px;
}

.article img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .article pre code {
        font-size: 1.25em !important;
    }
}

.article pre {
    margin-left: 25px;
    margin-right: 75px;
}

.result {
    font-family: serif;
    border: 2px solid black;
}

.result h1 {
    font-size: 2em;
}

.result img {
    border: none;
}

#content canvas {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    height: 500px;
}

#content li a:link {
    color: #000;
}

#content li a:visited {
    color: #000;
}

#content li a {
    color: #000;
    text-decoration: none;
}

#content li a:hover {
    color: #000;
    text-decoration: underline;
}
#content li a:hover:after {
    color: transparent;
    content: "&nbsp;";
    background-image: url(/img/arrowl.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    float: right;
}

.linkImg img {
    border: none;
}

.centered {
    margin-left: 25px;
    padding: 0px;
}

#jsCanvas {
    cursor: none;
}

.noborder {
    border: none !important;
}

.result table, .result tr, .result td {
    border: 1px solid black;
}
