
#selsect {
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.selopt {
    max-height: 250px;
    max-width: 250px;
    padding: 50px;
    font-size: 6em;
    color: white;
    margin: auto;
    cursor: pointer;
}

#jsopt {
    background-color: #fdd600;
    color: black;
}

#cssopt {
    background-color: #00c6be;
    color: black;
}

#htmlopt {
    background-color: #00e57b;
    color: black;
}